Flask
flask_cors
pymongo
werkzeug
scikit-learn
spacy
wand
pytesseract
beautifulsoup4
spacy_langdetect
lxml
text2num
numeral
Unidecode
tika
pandas
IPython
dnspython

# Install EN LANGUAGE
# python -m spacy download en_core_web_sm