<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Classification app</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <img src="../static/KPMG_logo.svg" alt="kpmg" class="main-logo">
    <h1>Company page</h1>
</header>
<main>
    <section class="general-info">
        <div id="loader" class="lds-roller display-none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </section>
</main>
    <script src="../static/company.js"></script>
</body>
</html>