<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Classification app</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <img src="../static/KPMG_logo.svg" alt="kpmg" class="main-logo">
</header>
<main>
    <section class="from-number">
        <h2>Get informations from a business number.</h2>
        <form id="form-scrap-from-business-number">
            <label for="businessNumber"></label>
            <input id="businessNumber" placeholder="Enter a business number..." name="businessNumber" type="text">
            <input class="submit" type="submit" value="Get informations" onclick="getDataFromBusinessNumber()">
        </form>
    </section>
    <section>
        <h2>Get informations from a company name.</h2>
        <form id="form-scrap-from-business-name">
            <label for="businessName"></label>
            <input id="businessName" placeholder="Enter a company name..." name="businessNumber" type="text">
            <input class="submit" type="submit" value="Search" onclick="getBusinessName()">
            <div id="loader" class="lds-roller display-none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div id="searchAnswer"></div>
        </form>
    </section>
</main>

<section class="company-container">
    <div class="field">
        <p>Company name:</p>
        <p>BeCode</p>
    </div>
    <div class="field">
        <p>Business number:</p>
        <p>92183891</p>
    </div>
</section>
    <script src="../static/script.js"></script>
</body>
</html>