<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Classification app</title>
</head>
<body>
    <h1>KPMG Project</h1>
    <section class="from-number">
        <h2>Get informations from a business number.</h2>
        <form id="form-scrap-from-business-number">
            <label for="business-number"></label>
            <input id="business-number" name="business-number" type="text">
            <input type="submit" value="Get informations">
        </form>
    </section>
</body>
</html>